In [15]:
import pandas as pd
import os
import glob
import csv

In [16]:
#Get all 12 cvs files and input them into one table
df = pd.concat([pd.read_csv(f) for f in glob.glob('raw_data/JC*.csv')], ignore_index = True)

In [17]:
#Get fist 5
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member

In [18]:
# Print all the columns
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [19]:
#check data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981011 entries, 0 to 981010
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             981011 non-null  object
 1   rideable_type       981011 non-null  object
 2   started_at          981011 non-null  object
 3   ended_at            981011 non-null  object
 4   start_station_name  980936 non-null  object
 5   start_station_id    980936 non-null  object
 6   end_station_name    977641 non-null  object
 7   end_station_id      977641 non-null  object
 8   start_lat           981011 non-null  float64
 9   start_lng           981011 non-null  float64
 10  end_lat             979712 non-null  float64
 11  end_lng             979712 non-null  float64
 12  member_casual       981011 non-null  object
dtypes: float64(4), object(9)
memory usage: 97.3+ MB

In [20]:
# Drop null value 
df.dropna(axis=0, how='any', inplace=True)

In [21]:
#Check data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 977641 entries, 0 to 981010
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             977641 non-null  object
 1   rideable_type       977641 non-null  object
 2   started_at          977641 non-null  object
 3   ended_at            977641 non-null  object
 4   start_station_name  977641 non-null  object
 5   start_station_id    977641 non-null  object
 6   end_station_name    977641 non-null  object
 7   end_station_id      977641 non-null  object
 8   start_lat           977641 non-null  float64
 9   start_lng           977641 non-null  float64
 10  end_lat             977641 non-null  float64
 11  end_lng             977641 non-null  float64
 12  member_casual       977641 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.4+ MB

In [14]:
# Output the cleaned csv
df.to_csv("citi_bike_cleaned.csv", index=False)